<div id="profile">
    <div id=name>
        <h1>Kafuka Matsuo</h1>
    </div>
    
    <div id="image">
        <%= image_tag 'img_002.png', :width => '235px', :height => '100px' %>
    </div>
    
    <div id="info">
        <div id="job">Engineer / Illustrator</div>
    
        <div id="email">
             <span class="email-tag">Email:</span>
             <a href="kfk2095@gmail.com">kfk2095@gmail.com</a>
        </div>
    
        <div id="portfolio">
            <span class="portfolio-tag">Portfolio:</span>
            <a href="http://kfk2095.tumblr.com" target="_blank">http://kfk2095.tumblr.com</a>
        </div>
    
        <div id="website">
            <span class="website-tag">Website:</span>
            coming soon...
        </div>
 
        <a href="https://twitter.com/kfk2095" target="_blank"><i class="fa fa-twitter"></i></a>
    
        <a href="https://www.instagram.com/kfk2095/" target="_blank"><i class="fa fa-instagram"></i></a>  
    
    </div>
    <!--
    <iframe scrolling="no" width="1" height="1" frameborder="0" style="background-color:transparent; overflow:hidden; position:absolute; top:0; left:0; z-index:9999;" id="ga_target"></iframe>
     -->
</div>   


